/* line 10, ../../_development/scss/_bits.scss */
.cf:before, .cf:after {
  content: "";
  display: table; }

/* line 11, ../../_development/scss/_bits.scss */
.cf:after {
  clear: both; }

/* line 12, ../../_development/scss/_bits.scss */
.cf {
  zoom: 1; }

/* For IE 6/7 (trigger hasLayout) */
/* line 3, ../../_development/scss/404.scss */
nav {
  width: 100%;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: fixed;
  top: 0; }

/* line 13, ../../_development/scss/404.scss */
nav a {
  font-family: 'Bungee Hairline', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: white;
  font-size: 1em;
  padding: .50em; }

/* line 20, ../../_development/scss/404.scss */
body {
  width: 100%;
  text-align: center;
  background-image: url(/build/images/404.jpg);
  background-position: top;
  background-attachment: local;
  background-size: cover; }

/* line 29, ../../_development/scss/404.scss */
.err {
  display: flex;
  height: 10em;
  padding-top: 5em;
  justify-content: center;
  flex-wrap: wrap;
  color: white; }

/* line 38, ../../_development/scss/404.scss */
.err h1 {
  width: 100%;
  font-size: 12em;
  margin: 0;
  font-family: 'Righteous', cursive; }

/* line 45, ../../_development/scss/404.scss */
.err p {
  font-family: 'Libre Baskerville', serif; }
