:root {
    font-size: calc(1rem + 0.5vw);
    color:#393939;
    --main-color: #267A95;
    --accent-color:#E85749;
    --dark-color:#373F4D;
    --light-shade:#9EB7B8;
    --light-bg: #F8F5F1;
    font-family: 'Lora-Regular';
    --f-display:'VaultAlarm', sans-serif;
    --ratio:1.6;
    --r2: calc(var(--ratio) * 2);
    --r3: calc(var(--ratio) * 3);
    --r4: calc(var(--ratio) * 4);
    --r-2:calc(var(--ratio) / 2);
    --r-3:calc(var(--ratio) / 3);
    --r-4:calc(var(--ratio) / 4);
    --width: 60ch;
  }

  
  html {
    box-sizing: border-box;
  
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  html{
      background-color: var(--light-bg);
  }

  * {
    margin:0;
    padding:0;
    max-width: var(--width);
  }

  html,
  body,
  div,
  header,
  section,
  nav,
  main,
  footer {
  max-width: none;
  }


  h1, h2, h3, h4{
    font-family: var(--f-display);
}

h3{
    font-weight: 100;
    letter-spacing: calc(1rem * var(--r-4));
}

header{
    background-color: var(--accent-color);
    color: var(--light-bg);
    padding: 0 calc(1rem * var(--r2));
}

a{
    color:inherit;
}

hr{
    background: rgb(232,87,73);
    background: linear-gradient(90deg, rgba(232,87,73,1) 35%, rgba(158,183,184,1) 35%, rgba(158,183,184,1) 65%, rgba(38,122,149,1) 65%);
    height: calc( .5em * var(--r-2));
    border: none;
}

.heroBio  {
    font-size: calc(6rem * var(--r-3));
    max-width: var(--width);
    padding: calc(1em * var(--r-2)) 0;

}

.heroName {
    font-size: 2em;
}

.mainContainer{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.hobbies{
    grid-column: span 2;
    background-color: var(--dark-color);
    color: var(--light-bg);
    font-size: calc(1rem * var(--r-2));
    padding: calc( 1rem * var(--r2));
}
.blogList{
    list-style: none;
    font-size: 1rem;
    padding: calc( 1rem * var(--r2));
    max-width: none;
    grid-column: span 6;
}

article > * + * , .hobbies > * + *, .blogList > * + * {
    margin-top: calc( 1rem * var(--r-2));
  }

article{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc( 1rem * var(--r2)) 0;
}


  article .postTitle, article .postByline{
      align-self: flex-start;
  }

  img{
    display: block;
    width: 100%;
    height: auto;
  }
.postTitle span{
    display: block;
    font-size: .5em;
}
  .postTitle{
    font-size: 2.5em;
  }
  .postByline{
      font-size: .5em;
  }

  .photoAlbums{
      background-color: var(--main-color);
      grid-column: span 9;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: none;
      list-style: none;
  }
  .albumsInfo{
      color:white;
      padding: calc( 1rem * var(--r2));
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }


.siteFooter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color:var(--light-shade);
    color:var(--dark-color);
    border-top: calc(1rem * var(--r-3)) solid var(--accent-color);
    padding: calc( 1rem * var(--r2));
    text-align: right;
    font-size: calc(1rem * var(--r-2));
}

.siteNav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.siteNav a{
    padding: calc(1rem * var(--r-4));
    display: block;
    text-decoration: none;
    font-family: var(--f-display);
}

.TheR {
    margin-right: auto;
    font-size: 1.8em;
}

.about{
    grid-column: span 9;
}

.profilePic{
    position: relative;
    top:calc( 1rem * var(--r2));
    width: 60%;
}

.coffeeName{
    display:block;
}
@media screen and (max-width: 900px) {

    .hobbies{
        grid-column: span 4;
    }

    .blogList{
        grid-column: span 4;
        font-size: .6em;
    }

    .photoAlbums{
        grid-template-columns: 1fr 1fr;
    }

}
@media screen and (max-width: 600px) {
    .siteNav {
        justify-content: flex-start;
        margin:0;
        padding:0;
    }
    .TheR {
        margin-right: 0;
        font-size: 1em;
    }
    .heroBio  {
        font-size: calc(2rem * var(--r-3));
    }

    .mainContainer, .photoAlbums{
      display: block
    }

    article{
        padding: calc( 1rem * var(--r2));
    }
  }