
body{
  background-image: url(/images/stop-1.jpg);
  background-position: right;
  background-size: cover;
}

.message{
  opacity:0.7;
  mix-blend-mode: lighten;
}

h1{
  width: 90%;
  font-size: 12em;
  font-weight: 100;
  color: white;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
  line-height: 1;
  position: relative;
  z-index: 2;
  display: block;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
}


@media (max-width: 650px) {
  body { font-size: 12px; }
  .wrap{ width: 100%; padding: 1.50em;}
}

@media (max-width: 450px) {
body { font-size: 8px; background-position: top; background-repeat: no-repeat; height: 100%; background-size: contain;}
h1{ font-size: 12em}
  .wrap{ width: 100%; padding: 1.50em;}
}
