---
---

$black:#272727;
$green: #00b0a0;
$grey: #edf8f6;
$red: #cc5a71;
$purple: #67597a;


html {
  box-sizing: border-box;

}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body{
	margin:0;
  background-color: white;
  background-image: url('../images/natural-paper-blue.png') ;
	font-family: 'Roboto', sans-serif;
	font-size:18px;
	font-weight: 400;
	@media screen and (max-width: 670px) {
        font-size: 14px;
     }
}


img{
  display: block;
  width: 100%;
  height: auto;
}

@import 'post-list';
@import 'home';
@import 'navigation';