@import "bits";

nav{
  width: 100%;
  margin-bottom: 1.5em;
  display:flex;
  justify-content:space-around;
  flex-wrap: wrap;
  position: fixed;
  top:0;
}

nav a{
  @include bungee-thin;
  color:white;
  font-size: 1em;
  padding:.50em;
}

body{
  width:100%;
  text-align:center;
  background-image: url(/build/images/404.jpg);
  background-position: top;
  background-attachment: local;
  background-size: cover;
}

.err{
  display: flex;
  height:10em;
  padding-top: 5em;
  justify-content: center;
  flex-wrap: wrap;
  color: white;

}
.err h1{
  width: 100%;
  font-size: 12em;
  margin: 0;
  font-family: 'Righteous', cursive;
}

.err p{
  font-family: 'Libre Baskerville', serif;
}
