$primary:#75255B;
$secondary:#FF4250;
$fondo:#E5F8F9;
$black:#292931;
$gray:#FF7E4C;
$clear:rgba(213, 219, 233, 1.0);

$mu:1.500em;
$hu:0.750em;
$du:3.000em;

.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
.cf { zoom:1; } /* For IE 6/7 (trigger hasLayout) */


@mixin Oswald-sans ($style, $weight) {
  font-family:'Oswald', sans-serif;
  font-style: $style;
  font-weight: $weight;
}


@mixin Quattro-serif ($style, $weight){
  font-family: 'Quattrocento', serif;
  font-style: $style;
  font-weight: $weight;
}
