$primary:rgba(192, 56, 56, 1.0);
$secondary:rgba(53, 155, 188, 1.0);
$black:rgba(33, 34, 36, 1.0);
$gray:rgba(92, 95, 101, 1.0);
$clear:rgba(213, 219, 233, 1.0);

.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
.cf { zoom:1; } /* For IE 6/7 (trigger hasLayout) */



@mixin meta-sans ($style, $weight) {
  font-family: "ff-meta-web-pro",sans-serif;
  font-style: $style;
  font-weight: $weight;
}


@mixin meta-serif ($style, $weight){
  font-family: "ff-meta-serif-web-pro",serif;
  font-style: $style;
  font-weight: $weight;
}
