.mast{
  width:100%;
  text-align:center;
  background: url(/build/images/boceto.jpg);
  background-attachment: local;
  background-size: cover;
  height: 150vh;
}
.logo{
  width:10%;
  margin:100px auto;
}
nav{
  width:80%;
  margin:0 auto;
  text-align:center;
  a {
    width:(98%/4);
    padding:$hu;
    display:inline-block;
    color:$gray;
  }
  a:hover{
    color:$black;
  }
  @media (max-width: 650px) {
    width: 100%;
    a{
      width: 20%;
      padding: 0;
    }
  }
}
