.mast{
  width:100%;
  text-align:center;
  background-image: url(/build/images/ilustraciontankgear.png);
  background-position: center;
  background-attachment: local;
  background-size: cover;
  height: 200vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;

}

.lettering{
    @include bungee;
    font-style: normal;
    font-weight: 800;
    line-height: 1.2;
    margin-top: 20vh;
    color:rgba($secondary, .8);
}
.issue{
  width: auto;
  padding: .50em;
  @include bungee-thin;
  font-style: normal;
  background: rgba($black, .3);
  color:$white;
}
