
.mast{
  width:100%;
  text-align:center;
  background-attachment: local;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

}

.lettering{
    @include bungee;
    line-height:1.29em;
    font-style: normal;
    font-weight: 800;
    color:rgba($black, .8);
}
.issue{
  background-color: rgba($black, .5);
  border-radius: 8px;
  width: auto;
  padding: $hu;
  @include bungee-thin;
  font-style: normal;
  color:$white;
}
