nav{
  font-size:12px;
  width: 100%;
  margin-bottom: 1.9em;
  display:flex;
  justify-content:space-around;
  flex-wrap: wrap;
  position: fixed;
  top:0;
  background: $white;
}

nav a{
  @include bungee-thin;
  color:$black;
  font-size: 1.9em;
  padding:5px;

}
