nav{
  width:100%;
  margin:0 auto;
  text-align:center;
  background:$contraste;

  a {
    width:(98%/4);
    padding:10px;
    display:inline-block;
    color:$secundario;

  }
}

h1.lettering{
  font-size:2em;
  display:inline;
  color:$background;
  position:relative;
  letter-spacing:-.06em;
  text-shadow:
  0px .01em 0px #dededa,
  0 .015em 0 $secundario,
  0 .02em 0 $secundario,
  0 .028em 0 $secundario,
  0 .035em 0 $secundario,
  0 .04em 0 $secundario,
  0 .045em 0 $secundario,
  0 .055em 0 $secundario,
  0 .06em 0 $secundario,
  0 .065em 0 $secundario,
  0 .07em 0 $secundario,
  0 .08em 0 $secundario,
  0 .085em 0 $secundario,
  0 .09em 0 $secundario,
  0 .095em 0 $secundario,
  0 .105em 0 $secundario,
  0 .06em .06em rgba(104, 104, 92, 0.15),
  .07em .105em .04em rgba(0, 0, 0, .015),
  -.02em .09em .05em rgba(104, 104, 92, 0.25),
  -.03em .07em .065em rgba(104, 104, 92, 0.1),
  -.075em .08em .09em rgba(104, 104, 92, 0.06),
  -.09em .06em .195em rgba(104, 104, 92, 0.095);

  span.char1{
    position:relative;
    top:20px;
    z-index:5;
  }
  span.char2{
    position:relative;
    top:15px;
  }
  span.char3{
    position:relative;
    top:10px;
    z-index:5;
  }
  span.char4{
    position:relative;
    top:5px;
    z-index:1;
  }

}
