nav{
  width:90%;
  border-bottom:1px solid $black;
  margin:0 auto;
  padding:20px;
  text-align:center;

  a {
    width:(98%/4);
    padding:15px;
    display:inline-block;


    h1{
      display:inline-block;
      @include uppercut;
    }

  }
}
