
p:first-child{
  font-size:1.180em;
}
.article-header{
  width:100%;
  margin:0 auto;

  h1{
    font-size:(50px / 1);
  }
}


.article-footer{
  text-align:right;
  padding:0 15%;
}

.page-navigation{
  display:inline-block;
  width:20%;
}

.firma{
  color:$contraste;
}

.title-post{
  color:$contraste;
}


.archive-list{
  list-style:none;
}
