.archive-list{
  list-style:none;
}

.post-title{
    border: 3px solid $primary;
    width:60%;
    text-align:center;
    margin:1.50em auto;
    padding:.50em;
    color:$primary;
    @media (max-width: 650px) {
      width: 80%;
      padding: .50em;
      line-height: 1.50em;
    }
}

.article-footer{
  text-align:right;
  padding:0 1.50em;
}


.firma{
  color:$primary;
}


blockquote{
  font-size:1.50em;
  padding: 0 .50em;
  @include Quattro-serif (italic, 400);

}
