.archive-list{
  list-style:none;
}

.post-title{
    border: 3px solid $primary;
    width:60%;
    text-align:center;
    margin:$mu auto;
    padding:$hu;
    color:$primary;
    @media (max-width: 650px) {
      width: 80%;
      padding: $hu;
      line-height: $mu;
    }
}

.article-footer{
  text-align:right;
  padding:0 $mu;
}


.firma{
  color:$primary;
}


blockquote{
  font-size:$mu;
  padding: 0 $hu;
  @include Quattro-serif (italic, 400);

}
