.previously{
  width: 100%;
  border-top: 1px solid $secondary;
}
.previous-h2{
  font-family: "uppercut-angle",sans serif;
  font-style: normal;
  font-weight: 400;
  color: $secondary;
  letter-spacing: 5px;
}
