.title-flex{
  display: flex;
  align-items:flex-end;
  height: 100%;
}
.title{
  width:80%;
  margin:150px auto 30px auto;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  font-size: 28px;
}
.main, .tag, .nav{
    width:100%;
    text-align:center;
}
.main{
  transform:skew(6deg);
}

h1{
  font-family: "bungee",sans-serif;
  line-height:1.429em;
  font-style: normal;
  font-weight: 800;
  color:$secondary;
  text-shadow: 0.238em 0 $black;
}

.word1{
  font-size:1.048em;
  display:block;
  position:relative;
  right:2.190em;

}
.word2{
  font-size:2.286em;
  display:block;
}
.word3{
  font-size:0.952em;
  display:block;
}

h2{
 font-size:1.238em;
 width:100%;
 padding:0.714em 0;
 letter-spacing: auto;
}
.issue{
  font-family: "uppercut-angle",sans serif;
  font-style: normal;
  font-weight: 400;
  font-size:1.457em;
  color:$accent;
  position:relative;
  bottom:1.905em;
  left:2.381em;
  transform:rotate(-5deg);
  text-shadow: 0.238em 0 $black;
  span{
    font-size:0.571em;
    color:$secondary;
    text-shadow: 0.238em 0 $black;
  }
}

section{
  margin:0 auto;
  color:$white;
  font-size:0.762em;
  line-height:0.857em;
}
