body{
  font-size: 18px;
  line-height:1.5;
  @include meta (normal, 400);
  color:$texto;
}

a{
  color:$contraste;
}

i{
  @include meta (italic, 400);
}

b{
  @include meta (normal, 800);
}

h1, h3{
  @include uppercut;
  color: $secundario;
}

h2, h4{
  @include meta (normal, 800);
  color: $secundario;
}


@media screen and (max-width: 25em) {
    body {
        font-size: 90%;
    }
}
