body{
  font-size: 18px;
  line-height:1.5;
  @include meta-serif (normal, 400);
}
p{
  font-size:1.510em;
  color:$black;
}

p:first-child {
  font-size:2.180em;
  color:$gray;
}

a{
  color:$secondary;
}

i{
  @include meta-serif (italic, 400);
}

b{
  @include meta-serif (normal, 800);
}

h1, h3{
  @include meta-sans (normal, 800);
  color: $primary;
}


h2, h4{
  @include meta-sans (normal, 800);
  color: $primary;
}


p.footer-text{
  color:white;
  text-align:right;
  font-size:12px;
  padding:10px;
}
