@import "compass/css3";
@import "reset";
@import "bits";

@import "nav";
@import "home";
@import "type";
@import "photos";

body {
  border: 20px solid $white;
  background-color: $black;
  font-family: 'Roboto Slab', serif;
}

.wrap{
  max-width:72ch; //600px wide ish
  margin:0 auto;
  padding:1.50em;
  @media (max-width: 650px) {
    width: 100%;
    padding: 1.50em;
  }
}
@import "bio";

a{
  color:$secondary;
}

.site-footer{
  padding: 0 10%;
  height:70px;
  font-size:18px;
  overflow-x: visible;

 p{
      color:$secondary;
      padding-right:10%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center right;
      background-size: contain;
  }
    a{
      color:$primary;
    }
}
