@import "compass/css3";
@import "reset";
@import "bits";

@import "type";

body {
  background:$background;
  border-left: 10px solid $primario;
}

@import "nav";

.wrap{
  max-width:39.500em; //600px wide ish
  margin:0 auto;
  padding:1em;
}
@import "home";
@import "bio";

@import "posts";

.site-footer{
  background: $black;
  height:70px;
  font-size:0.6em;
  text-align:right;
  padding:1.5em;

}
