@import "compass/css3";
@import "reset";
@import "bits";

@import "type";

body {
  background:white;
}


@import "header";

.wrap{
  max-width:50.500em; //600px wide ish
  margin:0 auto;
  padding:1em;
}
@import "bio";

@import "posts";

.site-footer{
  background: $primary;
  height:70px;
}
