
body{
  background: #FFF;
  font-family: 'Open Sans Condensed', sans-serif;
  @media (max-width: 650px) {
    font-size: 12px;
  }

}

.wrap{
  max-width:72ch; //600px wide ish
  margin:0 auto;
  padding:1.50em;
  @media (max-width: 650px) {
    width: 100%;
    padding: 1.50em;
  }
}

h1{
  width: 100%;
  font-size: 12em;
  font-weight: 100;
  color: #3E3C3B;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
  line-height: 1;
  position: relative;
  z-index: 2;
  display: inline-block;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', cursive;
}

h2{
  width: 100%;
  font-size: 2em;
  margin: 0;
  text-align: center;
  color:#3E3C3B;
  font-family: 'Roboto', cursive;
}

  p{
    font-size:1.4em;
    color:#3E3C3B;
    line-height: 1.4em;
  }

  p:first-of-type {
    font-size:1.80em;
    line-height: 1.4em;
  }

ul{
  padding: 0;
}
ul li{
  list-style: none;
  font-size:1.4em;
  color:#3E3C3B;
  line-height: 1.4em;
  margin: 0;
}

p.footer-text {
  text-align: right;
  font-size: 0.890em;
  padding: .50em;
}
