<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#FFD700">
  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="shortcut icon" href="{{ site.url }}/build/images/favicon.ico" />
  <meta name="description" content="">
  <link rel="stylesheet" href="{{ site.url }}/build/css/bd.css" type="text/css" media="screen">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto:900" rel="stylesheet">
</head>
<body>
