<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ site.url }}/build/images/favicon.ico" />
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Oswald:700|Quattrocento:400,700' rel='stylesheet' type='text/css'>
  {% if page.custom_css %}
    {% for stylesheet in page.custom_css %}
      <link rel="stylesheet" href="{{ site.url }}/build/css/{{ stylesheet }}.css" media="screen" type="text/css">
    {% endfor %}
  {% endif %}
  {% if page.custom_font %}
    {% for font_url in page.custom_font %}
      <link href='https://fonts.googleapis.com/css?family=Oswald:700|Quattrocento:400,700' rel='stylesheet' type='text/css'>
    {% endfor %}
  {% endif %}
</head>
<body>
  {% include svg-defs.svg %}
  {% include nav.html %}
