<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ site.url }}/build/images/favicon.ico" />
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ site.url }}/build/css/global.css" type="text/css" media="screen">
  <link href='https://fonts.googleapis.com/css?family=Oswald:700|Quattrocento:400,700' rel='stylesheet' type='text/css'>
  <script src="https://use.typekit.net/lyi5sgx.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>
