<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#FFD700">
  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="shortcut icon" href="{{ site.url }}/build/images/favicon.ico" />
  <link rel="stylesheet" href="{{ site.url }}/build/css/style.css" type="text/css" media="screen">
  <link href="https://fonts.googleapis.com/css?family=Lora:700i|Open+Sans" rel="stylesheet">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <style media="screen">
  .wrap {
    max-width: 78ch;
    margin: 0 auto;
    padding: 1.50em;
  }
  p {
    font-size: 1em;
    line-height: 1.4em;
  }

  p:first-of-type {
    font-size: 1.20em;
    line-height: 1.4em;
  }
  p.footer-text {
    text-align: right;
    font-size: 0.60em;
    font-size: .50em;
    padding: .50em;
  }
  </style>

</head>
<body>
