<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ site.url }}/build/images/favicon.ico" />
  <meta name="description" content="">
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ site.url }}/build/css/global.css" type="text/css" media="screen">
  <script type="text/javascript" src="//use.typekit.net/zfc4ofm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  {% include svg-defs.svg %}
  {% include nav.html %}
