:root {
  --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
  --step-9: clamp(5.8048rem, 4.3695rem + 6.379vw, 9.3132rem);
}



@font-face {
  font-family: 'Vault-alarm';
  src:
    url("/public/fonts/VaultAlarm-Soft.woff2") format("woff2");
}

@font-face {
  font-family: 'CaptainEdwards';
  src:
    url("/public/fonts/CaptainEdward-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'FernText';
  src:
    url("/public/fonts/FernText-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'FernText';
  src:
    url("/public/fonts/FernText: Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
  font-family: 'FernText';
  src:
    url("/public/fonts/FernText-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

