@import url('reset.css'); 
@import url('fontsizing.css'); 
@import url(grid);

body{
    margin:0;
    font-size:var(--step-0);
    color:hsl(327deg 5% 9%);
}

h1{
    max-width: 75ch;
    font-family: "Vault-alarm", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;

}


p{

    display:block;
    max-width: 72ch;
    font-size: var(--step-2);
    font-style: normal;
    font-family: "GandhiSerif", 'Times New Roman', Times, serif;
}


img{
    width:100%;
    height:auto;
}


.stack > * + * {
  margin-block-start: 1.5rem;
}

.note-header{
width: 100%;
font-size: var(--step-5);
}

.note-header-home{
display: block;
font-size: var(--step-3);
}

.note-title{
    font-size: inherit;
    grid-row: 1;
    text-align: left;
}


.publish-date {
    margin:0;
    font-size: var(--step--1);
    font-family: "CaptainEdwards", Georgia, 'Times New Roman', Times, serif;

}

.note-date{
    font-size: 1.2rem;
    grid-column: 1/2;
    font-family: "CaptainEdwards", Georgia, 'Times New Roman', Times, serif;

}

.note-tags{
    font-size: 1.2rem;
    color: lightgray;
    grid-area: tag;
    font-family: "CaptainEdwards", Georgia, 'Times New Roman', Times, serif;

}


.note-body{
    gap:var(--space-s-m:);
}

.mid-image {
    max-width: 80ch;
}

