@import url('reset.css'); 
@import url('fontsizing.css'); 
@import url("grid");

body{
    margin:0;
    font-size:var(--step-0);
    color:hsl(327deg 5% 9%);
    font-family: FernText, 'Times New Roman', Times, serif;

}

h1{
    max-width: 75ch;
    font-family: Vault-alarm, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;

}


p{
    display:block;
    max-width: 72ch;
    font-size: inherit;
    font-style: normal;
    font-family:inherit;
}


img{
    width:100%;
    height:auto;
}


.stack > * + * {
  margin-block-start: 1.5rem;
}

.note-header{
width: 100%;
font-size: var(--step-5);
}

.note-header-home{
display: block;
font-size: var(--step-3);
}

.note-title{
    font-size: inherit;
    grid-row: 1;
    text-align: left;
}


.publish-date {
    margin:0;
    font-size: var(--step--1);
    font-family: CaptainEdwards, Georgia, 'Times New Roman', Times, serif;

}

.note-date{
    font-size: 1.2rem;
    grid-column: 1/2;
    font-family: CaptainEdwards, Georgia, 'Times New Roman', Times, serif;

}

.note-tags, .caveat{
    font-size: 1.2rem;
    color: lightgray;
    grid-area: tag;
    font-family: CaptainEdwards, Georgia, 'Times New Roman', Times, serif;

}

.caveat{
  font-size: .8rem;
}


.note-body, .note-description {
    gap:0 var(--space-s-m);
    font-size: var(--step-2);
}

.mid-image {
    max-width: 80ch;
}

.masthead{
    height:75vh;
    width:100vw;
    padding:var(--step-2);
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.fancyLettering{
    text-align: center;
    margin:0;
    padding:0;
    width:100%;
    font-size:var(--step-9);
}

.masthead{
  background-image: url(/public/thing.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

.tagline{
    display: block;
    text-align: right;
    margin:0;
    font-size:var(--step-2);
    place-self:self-end end;

}

  nav.main {
    display: flex;
    margin:var(--space-m-l);
    justify-content:end;
    align-items: center;
  }

  ul.site-nav-list {
    display: flex;
    justify-content: space-evenly;
  }

  ul.site-nav-list li {
    list-style: none;
    padding: 0.5rem;
  }

  ul.site-nav-list li a{
      text-decoration: none;
  }


  footer {
      font-size: var(--step--1) ;
  }
