@font-face {
  font-family: "Dragonsteel Rough";
  src: url("../.././public/fonts/Dragonsteel-Rough.woff2") format("woff2");
}
@font-face {
  font-family: "Sandleford-Regular";
  src: url("../.././public/fonts/Sandleford-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "ShipsWhistle-Regular";
  src: url("../.././public/fonts/ShipsWhistle-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "oakes-grotesk-bold";
  src: url("../.././public/fonts/oakes-grotesk-bold.woff2") format("woff2");
}

:root {
  font-size: calc(1rem + 0.5vw);
  color: #393939;
  --main-color: #267a95;
  --accent-color: #e85749;
  --dark-color: #373f4d;
  --light-shade: #9eb7b8;
  --light-bg: #f8f5f1;
  font-family: "Sandleford", serif;
  --f-titleDisplay: "Dragonsteel Rough", sans-serif;
  --f-display: "Oakes Grotesk";
  --f-miniDisplay: "Ships Whistle", sans-serif;
  --ratio: 1.6;
  --r2: calc(var(--ratio) * 2);
  --r3: calc(var(--ratio) * 3);
  --r4: calc(var(--ratio) * 4);
  --r-2: calc(var(--ratio) / 2);
  --r-3: calc(var(--ratio) / 3);
  --r-4: calc(var(--ratio) / 4);
  --width: 60ch;
}

h1 {
  font-family: var(--f-display);
}

.tagline {
  font-family: var(--f-miniDisplay);
}

nav {
  font-family: var(--f-miniDisplay);
}

.gallery {
  width: 90%;
  margin: 0 auto;
}

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
.galleryGrid img {
  max-width: 100%;
  height: auto;
}

.galleryGrid img:nth-child(4n-7) {
  grid-column-start: 1;
  grid-column-end: 4;
  max-height: 100%;
}

.fancyLettering {
  font-family: var(--f-titleDisplay);
  text-transform: uppercase;
  font-size: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
