/* @link https://utopia.fyi/grid/calculator?c=360,16,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=xs,l,xl,8 */

/* @link https://utopia.fyi/space/calculator?c=360,16,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=xs,l,xl,8 */

:root {
  --space-3xs: clamp(0.25rem, 0.2244rem + 0.1136vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4489rem + 0.2273vw, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6733rem + 0.3409vw, 0.9375rem);
  --space-s: clamp(1rem, 0.8977rem + 0.4545vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.3466rem + 0.6818vw, 1.875rem);
  --space-l: clamp(2rem, 1.7955rem + 0.9091vw, 2.5rem);
  --space-xl: clamp(3rem, 2.6932rem + 1.3636vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.5909rem + 1.8182vw, 5rem);
  --space-3xl: clamp(6rem, 5.3864rem + 2.7273vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.0966rem + 0.6818vw, 0.625rem);
  --space-2xs-xs: clamp(0.5rem, 0.321rem + 0.7955vw, 0.9375rem);
  --space-xs-s: clamp(0.75rem, 0.5455rem + 0.9091vw, 1.25rem);
  --space-s-m: clamp(1rem, 0.642rem + 1.5909vw, 1.875rem);
  --space-m-l: clamp(1.5rem, 1.0909rem + 1.8182vw, 2.5rem);
  --space-l-xl: clamp(2rem, 1.2841rem + 3.1818vw, 3.75rem);
  --space-xl-2xl: clamp(3rem, 2.1818rem + 3.6364vw, 5rem);
  --space-2xl-3xl: clamp(4rem, 2.5682rem + 6.3636vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1rem, 0.3864rem + 2.7273vw, 2.5rem);
}



:root {
  --grid-max-width: 52.50rem;
  --grid-gutter: var(--space-2xs, clamp(0.75rem, -0.5625rem + 5.8333vw, 2.5rem));
  --grid-columns: 8;
}

.general-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.general-grid {
  display: grid;
  grid-template-columns: var(--grid-columns), 1fr;
  gap: 0 var(--grid-gutter);
}