{% extends "base.njk" %}
{% block content %}
<header class="masthead">
    <h1>Beans & Pj's <span>a blog about coffee and 'jitsu</span></h1>
</header>
    {{ content | safe }}
{% block more %}{% endblock %}
{% endblock %}