html {
  box-sizing: border-box;

}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  color: #3E3C3B;
  background-color: #F4F4F2;
  background-image: url('../images/natural-paper-blue.png') ;
}

.site__mast{
  display: block;
  text-align: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.75em;
}

.site__nav a{
  font-family: 'Open Sans', sans-serif;
  color: inherit;
  text-decoration: none;
  padding: .75em;

}

h1, h2, h3{
  font-family: 'Lora', serif;
}

.archive__list li{
  list-style: none;
  padding-bottom:.75em;
}
.archive__list a{
 text-decoration: none;
 color: inherit;
 font-family: 'Open Sans', sans-serif;
 border-bottom: 1px solid #ff4f2a;
}
.post__title{
  border-bottom: 1px solid #3E3C3B;
  padding-bottom: 0.75em;
}
.post__title a{
  font-size: 1.6em;
  text-decoration: none;
  color: inherit;
}
.post__title span{
  font-size: .75em;
  display: block;
  color: #ff4f2a;
}

.post__byline{
  font-size: .72em;
}

.post__byline span {
  font-family: 'Open Sans', sans-serif;

}

.section__title{
  font-size: 1.75em;
  text-align: center;
  display: block;
  color: #ff4f2a;
}
.photo__wrap{
  width: 90ch;
  margin: 0 auto;
}
.photo__grid{
  display: flex;
  flex-wrap: wrap;
}
.photo__grid-item{
  width: 33.333333333%;
  padding:15px;
}

p{
  font-family: 'Open Sans', sans-serif;
}

img{
  display: block;
  width: 100%;
  height: auto;
}
