---
import BaseLayer from "@layouts/BaseLayer.astro";
import LatestNote from "@components/LatestNote.astro";
// import MetShow from '../components/MetShow.astro';
---

<BaseLayer>
  <main>
    <section class="masthead">
      <div>
        <h1 class="fancyLettering">Daily Scrawls</h1>
        <p class="tagline">Short notes about life.</p>
      </div>
    </section>
    <section class="grid postList stack">
      <LatestNote />
    </section>
  </main>
</BaseLayer>
