.homeHero{
    display: grid;
    grid-template-columns: 1.1fr .9fr;
    background-color: $black;

    @media screen and (max-width: 670px) {
        display: block;
     }

}
.masthead{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color:$black;
    color:white;
    position: relative;
    left: 2%;
    -webkit-clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
clip-path: polygon(0% 0%, 98% 0, 100% 50%, 98% 100%, 0% 100%);

@media screen and (max-width: 670px) {
    height: 40vh;
}

}

.Title, .Byline{
    margin:0;
}
.latestPost, .postList{
    max-width: 78ch;
    margin: 50px auto;
    font-size: 1.2rem;
    padding: 0;
    @media screen and (max-width: 670px) {
        padding: 25px;
     }
}
.latestPost > .sectionTittle{
    color:$purple;
}
.postExcerpt{
    margin-bottom: 50px;
}

.homePhotoAlbums{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: $purple;    margin-top:50px;

    @media screen and (max-width: 670px) {
        display: block;
     }

}

.homePhotoAlbumsTitle{
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 670px) {
        height: 20vh;
     }
}