.homeHero{
    display: grid;
    grid-template-columns: 1.1fr .9fr;

}
.masthead{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color:$black;
    color:white;
}

.Title, .Byline{
    margin:0;
}
.latestPost, .postList{
    max-width: 78ch;
    margin: 50px auto;
    font-size: 1.2rem;
}
.latestPost > .sectionTittle{
    color:$purple;
}
.postExcerpt{
    margin-bottom: 50px;
}

.homePhotoAlbums{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: $purple;    margin-top:50px;
}

.homePhotoAlbumsTitle{
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}