.homeHero{
    display: grid;
    grid-template-columns: 1.1fr .9fr;

}
.masthead{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color:$black;
    color:white;
}

.siteTittle, .bylineHero{
    margin:0;
}