.postTitle{
  color:$red;
  font-size: 3rem;
}
.postByline, em{
  color: lighten($black,  30);
  font-size: .8rem;
}

.postList{
  max-width: 78ch;
  list-style: none;
  padding: 0;
  @media screen and (max-width: 890px) {
  padding: 25px;
 }

}

.postListItem{
  margin:12px 0;
  a{
    color:$black;
  }

}