.archive__list{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}
.archive__list-item{
    border-bottom:5px solid $black;
}

.archive__list-itemTitle{
width: 100%;
padding:0;
margin-bottom:0;
font-size: 1.80em;
}

.archive__list-item:first-of-type{
    grid-column: 1 / 4;
    background-color:$green;
    color:white;
    padding:3em 1em;
    font-size: 2em;
    text-align:center;

}

.archive__list-itemByline{
    font-size: 1.2rem;
}