
.post__title{
    border-bottom: 1px solid #3E3C3B;
    padding-bottom: 0.75em;
  }
  .post__title a{
    font-size: 1.6em;
    text-decoration: none;
    color: inherit;
  }
  .post__title span{
    font-size: .75em;
    display: block;
    color: #ff4f2a;
  }

  .post__byline{
    font-size: .72em;
  }

  .post__byline span {

  }