---
import { Image } from 'astro:assets';
import { SITE_TITLE } from '../consts';
import bunnzLogo from '../images/bunnz.svg';
---

<header>
  <nav class="main">
    <Image src={bunnzLogo} alt="Bunnz" />
    <ul class="site-nav-list">
      <li><a href="/home">Home</a></li>
      <li><a href="/photos">Photos</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>

