---
import { getCollection } from "astro:content";
import { render } from "astro:content";
import dayjs from 'dayjs';
const collectionName = "notes";
const allnotes = await getCollection(collectionName);
const sortedPosts = allnotes.sort((a, b) => {
  return (
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
  );
});
const note = sortedPosts[1];
const post = Astro.props;
const { Content } = await render(note);

console.log(note);
---

<article class="general-container">
  <div class="note-header-home">
    <h1 class="note-title">{note.data.title}</h1>
    <div class="note-meta">
      <p class="publish-date">
        {dayjs(note.data.pubDate).format('MM/D/YYYY')}
      </p>
    </div>
  </div>
  <p class="note-description">{note.data.description}</p>
  <a href=`/notes/${note.id}/` class="postLink">Read the thing.</a>
</article>
