:root {
    font-size: calc(1rem + 0.8vw);
  }

  
  html {
    box-sizing: border-box;
  
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


  * {
    margin:0;
    padding:0;
  }

  html,
  body,
  div,
  header,
  section,
  nav,
  main,
  footer {
  max-width: none;
  }

  body{
    font-family: 'Lora-Regular', serif;
    
  }

  h1{
    font-family: 'vaultAlarm', sans-serif;
  }

  .masthead{
    display: flex;
    width: auto;
    height: 21vh;
    align-items: center;
    justify-content: center;
  }

  .masthead span {
    display: block; 
    font-family:CaptainEdward,  serif;
    font-size: .8rem;
  }