{% include doctype.html %}
  {% include nav.html %}
  <div class="wrap">
    <h1 class="lettering">The Bunnz Chronicle</h1>
    <section class="post-single">
      <header>
        <h2 id="titulo" class="post-title">{{ page.title }}</h2>
      </header>
      <article>
            {{content}}

      </article>
      <footer class="article-footer">
        <a href="{{ page.link }}" target="_blank" class="boton">Ve las fotos.</a>
      </footer>
    </section>
  </div>
  {% include footer.html %}
</body>
</html>
