{% include doctype.html %}
<header class="site__mast">
  <h1 class="lettering">The Excellent Adventures</h1>
  {% include nav.html %}
    <section class="wrap">
      <header>
        <h2 class="post__title">{{ page.title }}</h2>
        <h3 class="post__byline">by Rodrigo Ibarra | <span>{{ page.date | date: "%-d %B %Y" }}</span></h3>
      </header>
      <article>
            <img src="{{ page.pc }}" alt="{{ page.title }}">
            {{content}}

      </article>
      <footer class="article-footer">
        <a href="{{ page.link }}" target="_blank" class="boton">Ve las fotos.</a>
      </footer>
    </section>
  </div>
  {% include footer.html %}
</body>
</html>
