{% include doctype.html %}
<header class="siteMast">
    {% include nav.html %}
</header>
      <section class="post__single">
        <article>
          <h1 class="bigTitle">
            <span class="postByline">Chapter {{ page.number }} | {{ page.date | date: '%B %d, %Y' }}</span>
                {{ page.title }}
          </h1>
            {{content}}
      </article>
    </section>
    <h1 class="siteTitle">
        The Excellent Adventures
        <span>A blog by Rodrigo Ibarra</span>
      </h1>
  {% include footer.html %}
</body>
</html>
